:root {
  --primary: #b7000c;
  --primary-container: #e60012;
  --primary-hover: #C90010;
  --primary-fixed: #ffdad5;
  --primary-fixed-dim: #ffb4aa;
  --outline: #946e69;
  --outline-variant: #e9bcb6;
  --border-subtle: #E5E7EB;
  --accent: #e60012;
  --text: #222222;
  --text-main: #222222;
  --on-surface: #191c1e;
  --text-sub: #5f5e5e;
  --secondary: #5f5e5e;
  --bg: #f8f9fb;
  --surface: #f8f9fb;
  --surface-container-low: #f2f4f6;
  --surface-pure: #FFFFFF;
  --container: 1440px;
}
